@charset "UTF-8";

/* ============================================ *
 * Common styling elements
 * ============================================ */

 .scroll-block {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.image-wrapper {
    width: 100%;
    padding-bottom: 75%;
    position: relative;
    img {
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }
}

.cta {
    &:after {
        font-family: 'rsficon';
        content: $icon-arrow-flat-right;
        margin-left: 4px;
        display: inline-block;
        vertical-align: middle;
    }
}

.section-link {
    font-size: 14px;
    display: block;
    text-align: center;
    color: $c-dgrey;
    &:after {
        font-family: 'rsficon';
        content: $icon-arrow-down;
        font-size: 30px;
        display: block;
        margin-top: 10px;
        color: $c-dgrey;
    }
    @include bp(min-width, $bp-medium + 1) {
        font-size: 16px;
    }
    @include bp(min-width, $bp-large + 1) {
        font-size: 18px;
        &:after {
            font-size: 36px;
            margin-top: 20px;
        }
    }
}

/**
 * Image gallery
 */
.gallery {
    margin-bottom: 50px;
    .viewer {
        margin-bottom: 20px;
        width: 100%;
    }
    .thumbs {
        font-size: 0;
        text-align: center;
        li {
            display: inline-block;
            width: 23.5%;
            margin-left: 2%;
            &:first-of-type,
            &:nth-of-type(5n) {
                margin-left: 0;
            }
            img {
                width: 100%;
                display: block;
                margin: 0 auto;
            }
        }
    }
}

.online-shop-link {
    margin-top: 20px;
    border: 1px solid darken($c-lblue, 10%);
    background: $c-lblue;
    display: inline-block;
    padding: 10px 20px;
    @extend .icon-shopping-cart;
    @include border-radius(4px);
    &:hover {
        background: $c-blue;
    }
    &:before {
        font-family: rsficon;
        font-size: 34px;
        width: 34px;
        line-height: 34px;
        display: inline-block;
        vertical-align: middle;
        color: $c-white;
        margin-right: 10px;
    }
    a {
        @extend .cta;
        display: inline-block;
        vertical-align: middle;
        font-size: 23px;
        color: $c-white;
        &:after {
            vertical-align: top;
        }
        &:hover {
            color: $c-white;
        }
    }
}

.testimonials {
    padding-top: 60px;
    padding-bottom: 50px;
    h3 {
        margin-left: 4%;
    }
    ul {
        font-size: 0;
        li {
            display: inline-block;
            vertical-align: top;
            width: 42%;
            margin: 35px 4%;
            position: relative;
            &:before,
            &:after {
                font-family: rsficon;
                display: block;
                position: absolute;
                z-index:1;
                font-size: 48px;
                opacity: 0.1;
                color: $c-lblue;
            }
            &:before {
                content: 'o';
                top: 0;
                left: -14px;
            }
            &:after {
                content: 'q';
                bottom: 50px;
                right: 0;
            }
            p {
                margin-bottom: 4px;
            }
            .customer {
                font-family: $f-libre;
                font-style: italic;
                font-size: 14px;
                line-height: 18px;
                color: $c-blue;
                span {
                    margin-top: 4px;
                    font-size: 12px;
                    line-height: 14px;
                    display: block;
                    color: $c-grey;
                }
            }
        }
    }
}

// =========================
// Extra small breakpoint
// =========================
@include bp(min-width, $bp-xsmall + 1) {

}

// =========================
// Small breakpoint
// =========================
@include bp(min-width, $bp-small + 1) {

    .page-header {
        background-size: 100%;
        height: 300px;
    }

    .gallery {
        h2 {
            font-size: 24px;
        }
        .thumbs {
            li {
                width: 12.5%;
                margin-left: 2%;
                &:nth-of-type(5) {
                    margin-left: 2%;
                }
                &:first-child {
                    margin-left: 0px;
                }
            }
        }
    }
}

// =========================
// Medium breakpoint
// =========================
@include bp(min-width, $bp-medium + 1) {
    .gallery {
        h2 {
            font-size: 24px;
        }
        .thumbs {
            li {
                width: 12.5%;
                margin-left: 2%;
                &:nth-of-type(5) {
                    margin-left: 2%;
                }
                &:first-child {
                    margin-left: 0px;
                }
            }
        }
    }
    .testimonials {
        ul {
            li {
                width: 25%;
            }
        }
    }
}

// =========================
// Large breakpoint
// =========================
@include bp(min-width, $bp-large + 1) {
    .page-header {
        height: 440px;
        background-size: 100%;
        .section-link {
            bottom: -70px;
        }
    }
}

// =========================
// Extra large breakpoint
// =========================
@include bp(min-width, $bp-xlarge + 1) {
    .lg-container {
        max-width: 1200px;
        padding: 0 30px;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        height: 100%;
    }
}
