.page-header {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 150%;
    width: 100%;
    height: 210px;
    position: relative;
    padding: 20px 0;
    .section-link {
        position: absolute;
        bottom: -50px;
        text-align: center;
        width: 100%;
    }
    .copy {
        overflow: hidden;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.5);
        padding: 20px;
        h1 {
            font-family: 'Raleway', $f-lato;
            font-weight: 100;
            color: $c-white;
            text-transform: uppercase;
            text-align: left;
            strong {
                font-weight: $fw-bold;
                color: $c-white;
                display: block;
            }
        }
        p {
            color: $c-white;
        }
    }
    .container {
        @extend .container;
        position: relative;
        height: 100%;
        overflow: visible;
    }
}

.home {
    .page-header {
        .copy {
            width: 100%;
            background: none;
            z-index: 2;
            h1 {
                font-size: 34px;
                line-height: 100%;
                margin-bottom: 20px;
                text-shadow: 0 0 4px rgba(0, 0, 0, 0.3), 0 0 30px rgba(0, 0, 0, 0.6);
                text-transform: none;
                text-align: center;
                font-weight: 200;
                @include transition(color 1.5s ease);
                span {
                    display: block;
                    font-weight:300;
                    font-size: 75%;
                }
            }
            p {
                max-width: 300px;
                display: block;
                margin: 0 auto;
                font-size:15px;
                text-shadow: 0 0 6px rgba(0, 0, 0, 0.5), 0 0 14px rgba(0, 0, 0, 0.5);
                text-align:center;
                line-height: 18px;
                font-weight: 100;
                @include transition(color 1.5s ease);
                small {
                    display: block;
                    font-size: 70%;
                    margin-top: 10px;
                }
            }
            &.dark {
                h1 {
                    color: $c-text;
                    text-shadow: 0 0 4px rgba(255, 255, 255, 0.5), 0 0 40px rgba(255, 255, 255,0.2);
                }
                p {
                    color: $c-text;
                    text-shadow: 0 0 4px rgba(255, 255, 255, 0.6);
                }
            }
        }
        .background {
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: 100%;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            z-index: 1;
            opacity: 0;
            @include transition(opacity 1.5s ease);
            &.active {
                opacity: 1;
            }
            &.one {
                background-image: url(/resources/img/page-headers/home/1.jpg);
            }
            &.two {
                background-image: url(/resources/img/page-headers/home/2.jpg);
            }
            &.three {
                background-image: url(/resources/img/page-headers/home/3.jpg);
            }
            &.four {
                background-image: url(/resources/img/page-headers/home/4.jpg);
            }
            &.five {
                background-image: url(/resources/img/page-headers/home/5.jpg);
            }
        }
    }
}

.about {
    .page-header {
        background-image: url('/resources/img/page-headers/home/4.jpg');
        .copy {
            h1 {
                font-size: 21px;
                line-height: 26px;
            }
        }
    }
}

.products{
    .page-header {
        background-image: url('/resources/img/parallax/towels-on-wooden-shelf.jpg');
        .copy {
            h1 {
                text-align: right;
                font-size: 21px;
                line-height: 23px;
            }
        }
        .section-link {
            width: 83%;
            bottom: -70px;
        }
    }
}

.design {
    .page-header {
        padding-top: 0;
        background-image: url('/resources/img/page-headers/design1.jpg');
        .copy {
            z-index: 2;
            h1 {
                font-size: 28px;
                line-height: 33px;
            }
        }
        .background {
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: 100%;
            position: absolute;
            width: 100%;
            height: 100%;
            z-index: 1;
            background-image: url('/resources/img/page-headers/design2.jpg');
            opacity: 0;
            @include transition(opacity 0.8s ease);
            &.show {
                opacity: 1;
            }
        }
    }
}

.installation {
    .page-header {
        background-image: url('/resources/img/parallax/glass-wall.jpg');
        .copy {
            h1 {
                font-size: 21px;
                line-height: 26px;
            }
        }
    }
}

.areas {
    .page-header {
        padding: 0;
    }
}

.contact {
    .page-header {
        background-image: url('/resources/img/page-headers/contact.jpg');
        .copy {
            h1 {
                font-size: 26px;
                line-height: 31px;
            }
        }
    }
}

// =========================
// Extra small breakpoint
// =========================
@include bp(min-width, $bp-xsmall + 1){
    .home {
        .page-header {
            .copy {
                h1 {
                    margin-bottom: 26px;
                }
            }
        }
    }
    .products {
        .page-header {
            .copy {
                h1 {
                    font-size: 29px;
                    line-height: 32px;
                }
            }
        }
    }
}

// =========================
// Small breakpoint
// =========================
@include bp(min-width, $bp-small + 1){
    .page-header {
        .copy {
            position: absolute;
            width: 400px;
            height: auto;
        }
    }
    .home {
        .page-header {
            .copy {
                padding-top: 40px;
                h1 {
                    margin-bottom: 30px;
                    font-size: 48px;
                    span {
                        margin-top: 6px;
                        font-size: 68%;
                    }
                }
                p {
                    font-size: 16px;
                    max-width: 380px;
                    line-height: 22px;
                }
            }
        }
    }
    .about {
        .page-header {
            .copy {
                h1 {
                    font-size: 31px;
                    line-height: 33px;
                }
            }
        }
    }
    .products {
        .page-header {
            .copy {
                right: 20px;
                h1 {
                    font-size: 31px;
                    line-height: 33px;
                }
            }
        }
    }
    .design {
        .page-header {
            .copy {
                right: 20px;
                bottom: 0;
                h1 {
                    font-size: 26px;
                    line-height: 33px;
                    margin: 30px 0 0 30px;
                }
            }
        }
    }
    .installation {
        .page-header {
            .copy {
                top: 20px;
                left: 40px;
                h1 {
                    font-size: 30px;
                    line-height: 34px;
                }
            }
        }
    }
    .contact {
        .page-header {
            .copy {
                bottom: 20px;
                left: 40px;
            }
        }
    }
}

// =========================
// Medium breakpoint
// =========================
@include bp(min-width, $bp-medium + 1){
    .products {
        .page-header {
            .copy {
                top: 40px;
                h1 {
                    font-size: 37px;
                    line-height: 38px;
                    margin: 30px 0 0 50px;
                }
            }
            .section-link {
                display: none;
            }
        }
    }
    .installation {
        .page-header {
            .copy {
                width: 560px;
                h1 {
                    font-size: 37px;
                    line-height: 38px;
                    margin: 0 50px 30px 0;
                }
            }
        }
    }
    .contact {
        .page-header {
            .copy {
                h1 {
                    font-size: 30px;
                    line-height: 36px;
                }
            }
        }
    }
}

// =========================
// Large breakpoint
// =========================
@include bp(min-width, $bp-large + 1){
    .home {
        .page-header {
            .copy {
                padding-top: 100px;
                h1 {
                    font-size: 64px;
                    span {
                        font-size: 60%;
                    }
                }
                p {
                    font-size: 22px;
                    line-height: 27px;
                    max-width: 600px;
                }
            }
            .section-link {
                bottom: -70px;
            }
        }
    }
    .about {
        .page-header {
            .copy {
                top: 40px;
                left: 60px;
                width: 500px;
                h1 {
                    font-size: 36px;
                    line-height: 39px;
                    margin: 0 30px 40px 0;
                }
            }
        }
    }
    .products {
        .page-header {
            .copy {
                top: 40px;
                right: 40px;
                h1 {
                    font-size: 42px;
                    line-height: 41px;
                    margin: 50px 0 0 90px;
                }
            }
        }
    }
    .design {
        .page-header {
            margin-bottom: 80px;
            .copy {
                width: 520px;
                bottom: 40px;
                right: 60px;
                h1 {
                    font-size: 35px;
                    line-height: 40px;
                    margin: 40px 0 0 40px;
                }
            }
        }
    }
}

// =========================
// Extra large breakpoint
// =========================
@include bp(min-width, $bp-xlarge + 1){
    .products {
        .page-header {
            .copy {
                top: 60px;
                right: 110px;
            }
        }
    }
    .installation {
        .page-header {
            .copy {
                left: 60px;
            }
        }
    }
    .contact {
        .page-header {
            .copy {
                left: 60px;
            }
        }
    }
}
