.products {
    .intro {
        margin-top: 70px;
        margin-bottom: 50px;
        .left-column {
            margin-bottom: 40px;
            h2 {

            }
        }
        .brand-logos {
            font-size: 0;
            text-align: center;
            li {
                display: inline-block;
                vertical-align: middle;
                padding: 4px 8px;
            }
        }
    }

    #products {
        font-size: 0;
        ul {
            display: inline-block;
            vertical-align: top;
            width: 47.5%;
            margin-right: 5%;
            &:nth-of-type(2n+2) {
                margin-right: 0;
            }
            li {
                width: 100%;
                margin-bottom: 20px;
                position: relative;
                background-color: $c-dgrey;
                & > img {
                    width: 100%;
                    opacity: 1;
                    transition: opacity 0.4s;
                    -webkit-transition: opacity 0.4s;
                }
                span {
                    position: absolute;
                    bottom: 0;
                    z-index:100;
                    max-height: 0;
                    overflow: hidden;
                    background: rgba(255, 255, 255, 0.7);
                    display: block;
                    width: 100%;
                    transition: max-height 0.2s ease-in;
                    -webkit-transition: max-height 0.2s ease-in;
                    img {
                        float: right;
                        margin: 20px;
                    }
                }
                &.show {
                    span {
                        max-height: 100px;
                    }
                }
                &.dark {
                    & > img {
                        opacity: 0.5;
                    }
                }
            }
        }
    }
}

.design {
    .intro {
        margin-bottom: 50px;
        .right-column {
            display: block;
            margin-bottom: 20px;
        }
    }
    .left-image {
        margin-bottom: 40px;
    }

    .right-image {
        margin-bottom: 40px;
        .right-column {
            margin-bottom: 30px;
        }
    }
}

.installation {
    .contact-details {
        margin-top: 30px;
        p {
            color: $c-blue;
            font-size: 16px;
            strong {
                color: $c-blue;
                font-size: 24px;
            }
        }
        a {
            color: $c-blue;
            font-size: 18px;
        }
    }
}

#areas-map {
    height: 100%;
    width: 100%;
}

.contact {
    .left-column {
        margin-bottom: 40px;
        .contact-details {
            margin-top: 30px;
            p {
                color: $c-blue;
                font-size: 16px;
                strong {
                    color: $c-blue;
                    font-size: 24px;
                }
            }
            a {
                color: $c-blue;
                font-size: 18px;
            }
        }
    }
    .form {
        h2 {
            color: $c-blue;
            &:before {
                font-family: rsficon;
                content: 'e';
                margin-right: 10px;
                font-size: 20px;
                display: inline-block;
                vertical-align: baseline;
                color: $c-blue;
            }
        }
        form {
            input[type="text"],
            textarea {
                padding: 6px 12px;
                border: 1px solid $c-grey;
                width: 100%;
                font-size: 13px;
                margin-bottom: 20px;
                &:placeholder {
                    color: $c-grey;
                    font-size: 13px;
                }
                &.error {
                    border-color: $c-red;
                }
            }
            input[type="text"] {

            }
            textarea {
                height: 100px;
            }
            button {
                color: $c-white;
                padding: 10px 30px;
                font-size: 13px;
                display: inline-block;
                border: 1px solid $c-lblue;
                background: $c-lblue;
                &:hover {
                    background: $c-dblue;
                }
            }
        }
    }
}

#gmap {
    width: 100%;
    height: 300px;
    margin:0;
}

// =========================
// Extra small breakpoint
// =========================
@include bp(min-width, $bp-xsmall + 1){

}

// =========================
// Small breakpoint
// =========================
@include bp(min-width, $bp-small + 1){
    .design {
        .intro {
            margin-bottom: 30px;
            .right-column {
                float: right;
                width: 50%;
                margin-left: 30px;
            }
        }
        .image-left {
            margin-bottom: 40px;
            .left-column {
                display: inline-block;
                vertical-align: middle;
                width: 60%;
            }
            .right-column {
                display: inline-block;
                vertical-align: middle;
                width: 35%;
                margin-left: 4.5%;
            }
        }

        .image-right {
            margin-bottom: 70px;
            .left-column {
                width: 35%;
                margin-right: 4.5%;
                margin-top: 30px;
            }
            .right-column {
                margin-bottom: 0;
                float: right;
                width: 60%;
            }
        }
    }
}

// =========================
// Medium breakpoint
// =========================
@include bp(min-width, $bp-medium + 1){
    .products {
        .intro {
            margin-top: 120px;
            .left-column {
                display: inline-block;
                vertical-align: middle;
                width: 48.5%;
                padding: 0 40px;
                margin-bottom: 0;
            }
            .brand-logos {
                display: inline-block;
                vertical-align: middle;
                width: 50%;
                li {
                    padding: 0 8px;
                }
            }
        }
        #products {
            ul {
                width: 23%;
                margin-right: 2.5%;
                &:nth-of-type(2n+2) {
                    margin-right: 2.5%;
                }
                &:nth-of-type(4) {
                    margin-right: 0;
                }
                li {
                    img {

                    }
                }
            }
        }
    }
    .design {
        .intro {
            margin-bottom: 30px;
            .left-column {
                width: 42.8%;
                display: block;
                margin-top: 50px;
            }
            .right-column {
                float: right;
                width: 50%;
                margin-left: 7%;
            }
        }
        .image-left {
            margin-bottom: 40px;
            .left-column {
                display: inline-block;
                vertical-align: middle;
                width: 60%;
            }
            .right-column {
                display: inline-block;
                vertical-align: middle;
                width: 35%;
                margin-left: 4.5%;
            }
        }

        .image-right {
            margin-bottom: 70px;
            .left-column {
                width: 35%;
                margin-right: 4.5%;
                margin-top: 30px;
            }
            .right-column {
                margin-bottom: 0;
                float: right;
                width: 60%;
            }
        }
    }
    .installation {
        .left-column {
            width: 47.8%;
            margin-right: 2%;
        }
    }
    .contact {
        .left-column {
            display: inline-block;
            width: 45%;
            vertical-align: top;
            margin-right: 9%;
        }
        .form {
            display: inline-block;
            width: 45%;
            vertical-align: top;
        }
    }
}

// =========================
// Large breakpoint
// =========================
@include bp(min-width, $bp-large + 1){
    .products {
        .intro {
            margin-top: 120px;
            .left-column {
                display: inline-block;
                vertical-align: middle;
                width: 48.5%;
                padding: 0 40px;
                margin-bottom: 0;
            }
            .brand-logos {
                display: inline-block;
                vertical-align: middle;
                width: 50%;
                li {
                    padding: 0 12px 12px 0;
                }
            }
        }
    }
    .design {
        .intro {
            margin-bottom: 30px;
            .left-column {
                width: 38.8%;
                display: block;
                margin-top: 50px;
                margin-left: 4%;
            }
            .right-column {
                float: right;
                width: 50%;
                margin-left: 7%;
            }
        }
        .image-left,
        .image-right {
            p {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }
    .contact {
        .left-column {
            display: inline-block;
            width: 40%;
            vertical-align: top;
            margin-right: 9.5%;
            margin-left: 5%;
        }
        .form {
            display: inline-block;
            width: 40%;
            vertical-align: top;
        }
    }
}

// =========================
// Extra large breakpoint
// =========================
@include bp(min-width, $bp-xlarge + 1){

}

